<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>| Agenda Campinho |</title>
</head>
<body>
    <header>
        <section>
        <h1>ACampinho</h1>
        <h4>Seja Bem Vindo!</h4>
    </header>
    <form action="/entrar" method="post">
        <input type="text" name="usuario[nome]" placeholder="Nome">
        <br>
        <input type="text" name="usuario[email]" placeholder="Email">
        <br>
        <button type="submit">Entrar</button>
    </form>
</section>
<footer>
    <small>ACampinho - Agenda de Contatos</small>
</footer>
</body>
</html>